html
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Exo')
    script(src="/bower_components/jquery/dist/jquery.js")
    script(src='/js/script.js')
  body(style="background-color:white;font-family:Exo;overflow-x:hidden;")
    a.bearicon(style='text-align:right;margin-top:25px;left: calc(0.00% + 90%);position:fixed;font-size:20px;') ðŸ»
    nav#nav-3
      a.link(href='/' style="background-color:black;font-size:40px;text-family:Arial;text-align:right;") B
      a.link(href='/' ) Login
      a.link(href='/') Register
      a.link(href='/') Home
    .background(style="text-align:center;height:600px;background-image:url(https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/41099658_1962146890510509_8312248240300883968_o.jpg?_nc_cat=0&oh=001226b00abc73cef057126ba368d667&oe=5C352589);background-attachment:fixed;background-size:100%;background-position:center;")
        .box(style='left:calc(0.00% + 41%);position:absolute;height:400px;width:200px;top:calc(0.00% + 17px);font-size:100px;opacity:0.8;color:white;font-family:Arial;border:4px solid white')
        p.crawl(style='text-align:justify;margin:0;left:calc(0.00% + 45%);position:absolute;height:auto;top:calc(0.00% + 25px);font-size:100px;opacity:0.8;color:white;font-family:Arial;') crawl _
        p.on(style='text-align:justify;margin:0;left: calc(0.00% + 45%);position:absolute;height:auto;top:calc(0.00% + 175px);font-size:100px;opacity:0.85;color:white;font-family:Arial;') on
        p.you(style='text-align:justify;margin:0;left: calc(0.00% + 45%);position:absolute;height:auto;top:calc(0.00% + 325px);font-size:100px;opacity:0.85;color:white;font-family:Arial;') you
        .box(style='left:calc(0.00% + 55%);position:absolute;height:50px;width:200px;top:calc(0.00% + 404px);font-size:100px;opacity:0.8;color:white;font-family:Arial;border:4px solid white')
        p.bears(style='text-align:justify;margin:0;left: calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 500px);font-size:140px;color:Black;font-family:Times;') BEARS
    section(class = "circlecontainer;")
      ul.flex-container
        li.flex-item 1
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 650px);font-size:22px;opacity:1;color:black;font-family:Arial;') Find your new home in 3 steps: 
        li.flex-item 2
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 700px);font-size:100px;opacity:1;color:black;font-family:Arial;') Step 1
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 820px);font-size:30px;opacity:1;color:black;font-family:Arial;') Lorem ipsum!
        li.flex-item 3
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 1000px);font-size:100px;opacity:1;color:black;font-family:Arial;') Step 2
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 1110px);font-size:30px;opacity:1;color:black;font-family:Arial;') This is more text, see it?
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 1250px);font-size:100px;opacity:1;color:black;font-family:Arial;') Step 3
        p(style='text-align:left;margin:0 auto;left:calc(0.00% + 40%);position:absolute;height:auto;top:calc(0.00% + 1370px);font-size:30px;opacity:1;color:black;font-family:Arial;') God, BearCrawl is so awesome. 
    .triangle2
    section(style='background-color:rgb(28, 30, 33);height:500px;')
      .counter1(data-count='150') 0
      p(style='text-align:left;margin:0;left:calc(0.00% + 10%);position:absolute;height:auto;top:calc(0.00% + 1850px);font-size:33px;opacity:1;color:white;font-family:Arial;') With X students on campus, its sometimes hard to find a home. 
      br
      .counter2(data-count='8000') 0
      br
      .counter3(data-count='40') 0
    .triangle
    section(style='background: linear-gradient(rgb(21, 21, 42), #1A344E)')
      .vl12
      .vl13
      .vl14
      .vl15
      .vl16
      .vl17
      .vl18
      .vl1
      .fiftyfive(style="max-width:55%;")
        p.up(style='text-align:center;margin:0;left:calc(0.00% + 100px);position:relative;height:auto;top:calc(0.00% + 400px);font-size:60px;opacity:0.5;color:white;font-family:Times;font-style:italic;') 'Finding a community at Cal is tough. Using BearCrawl is not. We're awesome. Try us out!'
        p.up(style='text-align:justify;margin:0;left:calc(0.00% + 500px);position:relative;height:auto;top:calc(0.00% + 650px);font-size:100px;opacity:0.5;color:white;font-family:Times;') -ASUC
      .vl2
      .vl3
      .vl4
      .vl5
      .vl6
      .vl7
      .vl8
      .vl9
      .vl10
    footer
      
      

    script.
        var element_position = $('.counter1').offset().top;
        var screen_height = $(window).height();
        var activation_offset = 0.5;
        var activation_point = element_position - (screen_height * activation_offset);
        var max_scroll_height = $('body').height() - screen_height - 10;

        $(window).on('scroll', function() {
            var y_scroll_pos = window.pageYOffset;

            var element_in_view = y_scroll_pos > activation_point;
            var has_reached_bottom_of_page = max_scroll_height <= y_scroll_pos && !element_in_view;

            if(element_in_view || has_reached_bottom_of_page) {
              $('.counter1').each(function() {
              var $this = $(this),
                  countTo = $this.attr('data-count');
              
              $({ countNum: $this.text()}).animate({
                countNum: countTo
              },
              {
                duration: 700,
                easing:'linear',
                step: function() {
                  $this.text(Math.floor(this.countNum));
                },
                complete: function() {
                  $this.text(this.countNum);
                }
                });  
              });
            }
        });
        
        var element_position2 = $('.counter2').offset().top;
        var screen_height2 = $(window).height();
        var activation_offset2 = 0.5;
        var activation_point2 = element_position2 - (screen_height2 * activation_offset2);
        var max_scroll_height2 = $('body').height() - screen_height2 - 10;

        $(window).on('scroll', function() {
            var y_scroll_pos2 = window.pageYOffset;

            var element_in_view2 = y_scroll_pos2 > activation_point2;
            var has_reached_bottom_of_page2 = max_scroll_height <= y_scroll_pos2 && !element_in_view2;

            if(element_in_view2 || has_reached_bottom_of_page2) {
              $('.counter2').each(function() {
              var $this = $(this),
                  countTo2 = $this.attr('data-count');
              
              $({ countNum2: $this.text()}).animate({
                countNum2: countTo2
              },
              {
                duration: 700,
                easing:'linear',
                step: function() {
                  $this.text(Math.floor(this.countNum2));
                },
                complete: function() {
                  $this.text(this.countNum2);
                }
                });  
              });
            }
        });
        
        var element_position3 = $('.counter3').offset().top;
        var screen_height3 = $(window).height();
        var activation_offset3 = 0.5;
        var activation_point3 = element_position3 - (screen_height3 * activation_offset3);
        var max_scroll_height3 = $('body').height() - screen_height3 - 10;

        $(window).on('scroll', function() {
            var y_scroll_pos3 = window.pageYOffset;

            var element_in_view3 = y_scroll_pos3 > activation_point3;
            var has_reached_bottom_of_page3 = max_scroll_height3 <= y_scroll_pos3 && !element_in_view3;

            if(element_in_view3 || has_reached_bottom_of_page3) {
              $('.counter3').each(function() {
              var $this = $(this),
                  countTo3 = $this.attr('data-count');
              
              $({ countNum3: $this.text()}).animate({
                countNum3: countTo3
              },
              {
                duration: 700,
                easing:'linear',
                step: function() {
                  $this.text(Math.floor(this.countNum3));
                },
                complete: function() {
                  $this.text(this.countNum3);
                }
                });  
              });
            }
        });
          

      
    
      var vert1 = document.querySelector(".vl1");
      var vert2 = document.querySelector(".vl2");
      var vert3 = document.querySelector(".vl3");
      var vert4 = document.querySelector(".vl4");
      var vert5 = document.querySelector(".vl5");
      var vert6 = document.querySelector(".vl6");
      var vert7 = document.querySelector(".vl7");
      var vert8 = document.querySelector(".vl8");
      var vert9 = document.querySelector(".vl9");
      var vert10 = document.querySelector(".vl10");
      var vert12 = document.querySelector(".vl12");
      var vert13 = document.querySelector(".vl13");
      var vert14 = document.querySelector(".vl14");
      var vert15 = document.querySelector(".vl15");
      var vert16 = document.querySelector(".vl16");
      var vert17 = document.querySelector(".vl17");
      var vert18 = document.querySelector(".vl18");





      function setTranslate(xPos, yPos, el) {
          el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
      }
      


      window.addEventListener("DOMContentLoaded", scrollLoop, false);

      var xScrollPosition;
      var yScrollPosition;

      function scrollLoop() {
          xScrollPosition = window.scrollX;
          yScrollPosition = window.scrollY;
          
          setTranslate(0, yScrollPosition*0.7, vert1);
          setTranslate(0, yScrollPosition* 0.3, vert2);
          setTranslate(0,yScrollPosition* 0.4, vert3);
          setTranslate(0,yScrollPosition* 0.3, vert4);
          setTranslate(0,yScrollPosition* 0.6, vert5);
          setTranslate(0,yScrollPosition* -0.3, vert6);
          setTranslate(0,yScrollPosition* 0.8, vert7);
          setTranslate(0,yScrollPosition* -0.09, vert8);
          setTranslate(0,yScrollPosition* -0.14, vert9);
          setTranslate(0,yScrollPosition* -0.19, vert10);
          setTranslate(0,yScrollPosition* 0.51, vert12);
          setTranslate(0,yScrollPosition* 1.1, vert13);
          setTranslate(0,yScrollPosition* 0.98, vert14);
          setTranslate(0,yScrollPosition* 0.91, vert15);
          setTranslate(0,yScrollPosition* 0.44, vert16);
          setTranslate(0,yScrollPosition* 0.54, vert17);

          requestAnimationFrame(scrollLoop);
      }


    
